#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.points {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f14800;
  font-size: 1.25rem;
}